Problem Statement 1 and Problem Statement 2 are done in a single program .

Problem Statement 1 can have the statements a,b,c,d,f,g

Problem Statement 1 can have the statements a,b,c,d,e,f,g


CODE :

a = load '/user/acadgild/data/dataset.txt' using PigStorage(',') AS (year:int, gko:chararray,show:chararray,group:chararray,Guest:chararray);
b = FOREACH a GENERATE year as Y, gko as G, ToDate(show,'dd/mm/yy') as S, group as R, Guest as U;
c = FILTER b BY S >= ToDate('1999-01-11') AND S <= ToDate('1999-06-11');
d = group c by G;
e =  FOREACH d 
{ GENERATE group AS skill,COUNT(c.S) AS COUNT;
};
f = ORDER e BY COUNT DESC;
g = LIMIT f 5;
dump g;
